
<h1 class="center">My todos</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Days left</th>
      <th>Complete</th>
    </tr>
  </thead>
  <tbody>
    <% @user.items.each do |item|  %>

      <%= render partial: 'items/item', locals: { item: item } %>
    
    <% end %>

  </tbody>
</table>

<%= render partial: 'items/form' %>
